@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Lato:wght@300&family=Open+Sans:wght@300&family=Patrick+Hand+SC&family=Poppins:wght@300&family=Roboto+Mono:wght@300&family=Roboto:wght@100&family=Square+Peg&family=Ubuntu:ital,wght@1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgb(85, 85, 85);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(57, 57, 57);
}

::-moz-selection {
  color: rgb(255, 255, 255);
  background: rgb(0, 190, 190);
}

::selection {
  color: rgb(255, 255, 255);
  background: rgb(0, 190, 190);
}

/**************************************** NAV BAR *************************************************/

nav {
  position: fixed;
  z-index: 3;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  background-color: #0000007c;
}

#logoNavBar {
  position: relative;
  z-index: 1;
  padding: 1vh 3vw;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 1vh 3vw;
}

.link {
  margin: 0 1vw;
  position: relative;
  text-decoration: none;
  color: rgb(244, 244, 244);
}

#navbar li {
  display: inline-block;
  position: relative;
  z-index: 1;
  padding-bottom: 2px;
}
#navbar li:hover {
  color: rgb(240, 240, 240);
  z-index: 1;
}

#navbar li::before {
  content: "";
  position: absolute;
  width: calc(100% - 2vw);
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 1vw;
  background-color: #fc8200;
  transform-origin: bottom left;
  transition: transform 0.3s ease-out;
  z-index: 1;
}

#navbar li:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
  z-index: 1;
}

#navbar .activePage::before {
  transform: scaleX(1);
  transform-origin: bottom left;
  z-index: 1;
}

#mobile {
  display: none;
}

#mobile i {
  color: aliceblue;
  align-items: center;
  position: absolute;
  z-index: 1;
  right: 0;
  transform: scale(1.5);
  padding: 1vh 6vw;
}

/**************************************** FOOTER *************************************************/

#footer {
  display: flex;
  position: relative;
  flex-direction: row;
  color: grey;
  width: 100%;
  height: 45vh;
  background-color: rgb(28, 3, 3);
}

#footer section {
  width: 25vw;
  height: 100%;
  padding: 4vh 3vw;
}

#footer section ul {
  list-style: none;
}
#footer a {
  color: grey;
  padding: 2px 0;
  text-decoration: none;
  filter: grayscale(0.9);
}

#footer li:hover,
#footer a:hover {
  color: #f1f1f1;
  filter: grayscale(0);
}

#footerSec1 {
  height: 100%;
  padding: 0 3vw;
  border-right: 1px solid rgba(163, 163, 163, 0.296);
}

#copyright {
  position: absolute;
  bottom: 2vh;
  left: 28%;
}

#footerSec4 img {
  height: 15px;
  margin: auto 4px;
}

#footerSec4 a {
  display: flex;
  flex-direction: row;
}

/**************************************** HOME PAGE *************************************************/
#waveBlock {
  display: flex;
  flex-direction: column;
  object-fit: cover;
}
.blobUpper {
  margin-top: 30vh;
}
#blobMiddle {
  height: 30vh;
  width: 100%;
  background-color: #f36a3e;
}
/**************************************** SERVICE PAGE *************************************************/

.sideHeading {
  font-size: 2.5rem;
  position: absolute;
  padding: 2vh 0 0 5vw;
  font-weight: 600;
  color: #180801;
}

/************** GALLERY ***********/

#gallery {
  height: 100vh;
  width: 100%;
  position: relative;
}

#gallery .arrow {
  position: absolute;
  top: 45vh;
  height: 10vh;
}

#gallery .arrow:active {
  transform: scale(1.09);
}
#rightCursor {
  right: 13vw;
}

#leftCursor {
  left: 13vw;
}

.galleryImg {
  position: absolute;
  width: 40vw;
  height: 50vh;
  top: 25vh;
  left: 25vw;
  background: transparent no-repeat center;
  background-size: cover;
  transition: 0.3s ease-in-out;
  border: 2px solid #18080171;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.galleryImg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.activeImg:hover {
  transform: scale(1.05);
  transition: 0.4s ease-in-out;
}

.activeImg {
  z-index: 2;
  top: 20vh;
  width: 50vw;
  height: 60vh;
}
.rightImg {
  left: 40vw;
  z-index: 1;
}

.leftImg {
  left: 20vw;
  z-index: 1;
}

/*****PAST CUSTOMERS*******/

#PastCustomers {
  height: 150vh;
  width: 100%;
  position: relative;
}

/*******************************   CONTACT US PAGE **********************************************/

#contactPageHeader {
  position: relative;
  height: 60vh;
  text-align: center;
  overflow: hidden;
}

#contactPageHeader img {
  width: 100%;
}
#contactPageHeader p {
  color: #eaeaea;
  width: 90%;
  bottom: 50%;
  left: 5%;
  font-weight: 600;
  font-size: 5rem;
  position: absolute;
}

#contactPageHeader span {
  opacity: 0;
  filter: blur(4px);
}

#contactPageHeader span:nth-child(1) {
  animation: fade-in 0.7s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#contactPageHeader span:nth-child(2) {
  animation: fade-in 0.7s 0.15s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#contactPageHeader span:nth-child(3) {
  animation: fade-in 0.7s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#contactPageHeader span:nth-child(4) {
  animation: fade-in 0.7s 0.25s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#contactPageHeader span:nth-child(5) {
  animation: fade-in 0.7s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

#galleryDesign {
  position: absolute;
  height: 90vh;
  left: -10vw;
  width: 200vw;
  background-repeat: no-repeat;
  background-color: rgba(194, 164, 13, 0.296);
  background-image: url(https://static.vecteezy.com/system/resources/previews/005/159/252/original/forest-nature-silhouette-landscape-spring-forest-pine-trees-summer-illustration-design-winter-tree-illustration-collection-for-christmas-free-vector.jpg);
}

#ContactMeBlock {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 90vh;
  width: 100%;
}
#phoneUs {
  height: 80vh;
  width: 34%;
  margin-top: 5vh;
  margin-left: 5%;
  text-align: center;
  background-color: #fefefe;
  filter: drop-shadow(0 0 0.7px rgb(12, 2, 2));
}
#phoneUs img {
  margin: 10% auto;
  height: 15vh;
  width: 15vh;
}

#contactText {
  position: relative;
  top: 10%;
  width: 80%;
  left: 10%;
}

#messageUs {
  height: 80vh;
  width: 51%;
  margin-top: 5vh;
  margin-left: 5%;
  padding: 5vh 3%;
  font-weight: 600;
  font-size: 1.4rem;
  background-color: #0dffef;
  filter: drop-shadow(0 0 0.7px rgb(12, 2, 2));
}

#messageUs input,
textarea {
  margin-top: 2vh;
  background: none;
  border: none;
  outline: none;
  resize: none;
  font-size: 1.1rem;
  border-radius: 2vh 0 0 3vh;
  border-bottom: 1px solid rgb(120, 120, 120);
  border-left: 1px solid rgb(120, 120, 120);
}

#messageUs input:focus,
#messageUs textarea:focus {
  background-color: #47ede8;
}

.button {
  position: relative;
  border: none;
  height: 7vh;
  width: 30%;
  margin-top: 4vh;
  border-radius: 3vh;
  font-size: 1.4rem;
  transition: color 0.1s linear;
  background-color: #052828;
  color: #d8d8d8;
}

.button:hover {
  color: rgb(31, 0, 0);
  font-weight: 600;
  transition: 0.3s ease-in-out;
  box-shadow: inset 100px 0 50px 20px rgb(234, 234, 234);
}

/************************** FAQS PAGE *********************************/

#faqs {
  height: 100vh;
  width: 60%;
  margin-left: 20%;
}

#faqHeader {
  position: relative;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: 600;
  overflow: hidden;
  margin-bottom: 10vh;
}

#faqHeader p {
  color: #eaeaea;
  position: absolute;
}

#faqHeader img {
  width: 100%;
}

.faq {
  padding: 2vh 3vw 3vh 3vw;
  background-color: #d7d7d70a;
  border-bottom: 1px solid black;
}
.question {
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.answer {
  transition: opacity 0.3s ease-out;
  padding: 2vh 0;
  opacity: 0;
  height: 0;
  font-size: 1.1rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.faq img {
  margin-left: 3vw;
}

.activeQ .answer {
  opacity: 1;
  height: auto;
}
.activeQ img {
  transform: rotate(180deg);
  transition: transform 0.1s ease-in-out;
}

.activeQ {
  background-color: #eeeeee;
}

/************************** RESPONSIVENESS OF WEBSITE *****************************************/

@media screen and (max-width: 770px) {
  body {
    overflow-x: hidden;
  }
  #navbar {
    display: flex;
    position: fixed;
    top: 0;
    right: -60%;
    margin: 0;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    list-style: none;
    height: 100%;
    width: 60%;
    padding: 20% 5%;
    font-size: 1.8rem;
    background-color: #2a1207;
    transition: 0.4s ease-in-out;
  }
  #navbar.active {
    right: 0;
  }
  .link {
    margin: 0 2vw;
    color: #959191;
  }
  #logoNavBar {
    margin-top: 1vh;
  }
  #mobile {
    display: block;
  }
  #logoNavBar {
    transform: scale(0.8);
  }

  #contactPageHeader img {
    height: 100%;
    object-fit: cover;
  }
  #contactPageHeader p {
    font-size: 3.5rem;
  }
}

#mainPage {
  position: absolute;
  height: 100vh;
  width: 100%;
}

#mainTitle {
  margin-top: 20vh;
  margin-left: 5vh;
  font-size: 2.5rem;
  font-weight: 600;
}
@keyframes slideUpDown {
  0% {
    transform: translateY(30px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(30px);
  }
}

#droneHomePage {
  margin-left: 60%;
  width: 30%;
  height: auto;
  animation: slideUpDown 4s infinite forwards;
}
#mainPara {
  width: 40%;
  font-size: 1.2rem;
  margin-left: 5vh;
}
